include LICENSE
include README.md

recursive-include pythia_datasets *.py
recursive-exclude * __pycache__
recursive-exclude * data
recursive-exclude * *.py[co]

include *.md
include *.toml
include *.txt
prune tests*
prune ci*
prune data*
